@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
:root{
    --background-color-red: #CE1618;
    --background-color-green: #029C38;
    --background-color-light-green: #B5C4B1;
    --background-color-light-red: #F4A7A3;
    --color-normal-font: #000000;
    --color-font-hover: #fff;
    --font-family-text: "Lato", sans-serif;
    --font-family-title: "Merriweather", serif;

}
img{
    width: 100%;
}
/* Header */
.header img{
    display: block;
    margin: 2% auto;
    width: 10%;
}

/* Navigation */
.nav{
    background-color: var(--background-color-light-green);
    display: flex;
    justify-content: space-around;
}
.nav a{
    text-decoration: none;
    color: var(--color-normal-font);
    padding: 1%;
}

/* Kontent */
.content{
    display: block;
    margin: auto;
    width: 70%;
}

h1,h2{
    font-family: var(--font-family-title);
    text-align: center;
}

p, div{
    font-family: var(--font-family-text);
    text-align: center;
}
a{
    font-family: var(--font-family-text);
    text-decoration: none;
    color: black;
}
#boxen-mit-Bild{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2%;

}
#boxen-mit-Bild img{
    height: 101vh;
}
.box{
    width: 30vw;
    height: 50vh;
    background-color: var(--background-color-light-red);
    margin: 0% 0% 2% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.circle img{
    border-radius: 100%;
    width: 50%;
}
.cirle-text{
    margin: 5% 10% 5% 0;
    display: flex;
    flex-direction: row;
    gap: 0%;
}
.text{
    width: 100%;
    margin-top: 10%;
}
/*Normal Button*/
/*.button{
    background-color: var(--background-color-light-green);
    padding: 2%;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}*/
/*Button with border*/
.button{
    border: solid black 2px;
    border-radius: 5px;
    padding: 2%;
    display: inline-block;
    text-align: center;
    user-select: none;
    cursor: pointer;
    color: var(--color-normal-font);
    transition: background-color 1s, color 1s;
}
.button:hover{
    background-color: black;
    color: var(--color-font-hover);
}
.boxen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 0%;
}
.boxen img{
    width: 80%;
}
#box2{
    background-color: var(--background-color-light-green);
}
.textBox{
    text-transform: uppercase;
}

/*Slideshow*/
#slideshow img{
    width: 100%;
    margin: 2% 0%;
}

/*Betrieb*/
.person{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.person img, .person div {
    width: 40%;
    margin-right: 10%;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bildheader{
    width: 100%;
    margin-bottom: 5%;
}
/* Footer */
.footer{
    background-color: var(--background-color-light-green);
    font-family: var(--font-family-text);
}
form{
    display: flex;
    flex-direction: row;
}

.containerforText{
    margin: 1.5% 1% 0% 5%;
}

.containerforText h2{
    font-size: 4rem;
    margin: 0%;
    
}

.container {
    padding: 20px;
    width: 40%;
    margin-top: 3%;
}

.subscriberButton{
    width: 20%;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #9b9895;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/*text Footer*/
.containerFooter{
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-top: 2%;
    margin: 0% 5%;
}
.containerFooter div p{
    padding: 0%;
    margin: 0%;
}
.ohneUeberschrift{
    padding: 2%;
}
.social-media a{
    padding: 2%;
}
.containerFooter h3{
    text-align: left;
}
.containerFooter p{
    text-align: left;
}
.untersterText{
    margin-top: 3%;
    font-size: 80%;
}
.untersterText p{
    padding-bottom: 1%;
    margin-left: 5%;
    text-align: left;
}